body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  color: #555;
}

canvas {
  width: 100%;
  height: 100%;
}

h1 {
  padding: 0;
  margin: 0;
  position: absolute;
  top:0;
  left:5px;
  opacity: 0.3;
  font-size: 2em;
}
